{% extends "base.html" %}

{% block title %}Registeration{% endblock %}

{% block body %}

<form enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    <div class="group">
        {{ form.first_name.label }}
        {{ form.first_name(size = '50') }}
    </div>

    <div class="group">
        {{ form.last_name.label }}
        {{ form.last_name(size = '50') }}
    </div>

    <div class="group">
        {{ form.reg_number.label }}
        {{ form.reg_number(size = '50') }}
    </div>

    <div class="group">
        {{ form.department.label }}
        {{ form.department(size = '50') }}
    </div>

    <div class="group">
        {{ form.level.label }}
        {{ form.level(size = '50') }}
    </div>

    <div class="group">
        {{ form.password.label }}
        {{ form.password(size = '50') }}
    </div>

    <div class="group">
        {{ form.password2.label }}
        {{ form.password2(size = '50') }}
    </div>

    <div class="group">
        <label for="">Upload passport photo: </label>
        <input type="file" name="photo" id="">
    </div>

    <div class="submit" id="submit">
        {{ form.submit() }}
    </div>
</form>

{% endblock %}